.array-bars {
  width: 4px;
  background-color: pink;
  display: inline-block;
  margin: 0 2px;
}

.array-container {
  position: absolute;
  left: 100px;
  top: 100px;
}

nav {
  margin-bottom: 30px;
  padding: 0;
  display: block;
}

button {
  color: #0099cc;
  margin-left: 2px;
  margin-right: 2px;
  border: 2px solid #0099cc;
  border-radius: 6px;
  background: transparent;
}

button:hover {
  background-color: #008cba;
  color: white;
}

button:disabled {
  background-color: grey;
  color: lightgrey;
  border: 2px solid lightgrey;
}
